:root {
  --situm-background-color: #E5E5E5;
  --situm-selector-title-background: #F3F4F6;
  --situm-accent-color: 32, 76, 161;
  --situm-accent-background: white;
  --situm-color-light-gray: #ddd;
  --situm-text-color: Gray;
  --situm-text-color-select: #1B3278;
  --situm-radius: 3px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--situm-background-color);
  color: var(--situm-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div {
  box-sizing: border-box;
}

.poi-selector {
  background-color: White;
  z-index: 2;
  width: 20%;
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 300px;
  background-color: white;
  border: 0 none !important;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);
  top: 1rem;
  left: 1rem;

  ::-webkit-scrollbar {
    width: 6px;
  }

  &__title {
    background-color: var(--situm-selector-title-background);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__poi {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__icon {
        width: 30px;
        height:30px;
        //background: rgb(var(--situm-accent-color));
        border-radius: var(--situm-radius);
      }

      &__name {
        padding-left: 1rem;
      }
    }

    .back-icon {
      padding: 0;
      cursor: pointer;
    }
  }

  &__info {
    margin: .5rem;
    padding-top: 1rem;
    padding-bottom: 1em;
    gap: 1em;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;

    &__description {
      padding: 0rem .5rem;
      padding-left: 2rem;
    }

    &__position {
      display: flex;
      flex-direction: row;
      padding: 0rem .5rem;

      .position-icon {
        padding: 0;
      }

      &__text {
        padding-left: .5rem;
      }
    }
  }

  &__header {
    background-color: var(--situm-selector-title-background);
    padding: 1rem;

    &__poi {
      &__icon {
        width: 30px;
        height:30px;
        //background: rgb(var(--situm-accent-color));
        border-radius: var(--situm-radius);
      }
    }

    &__image {
      max-height: 50px;
      display:inline-block;
    }

    &__search {
      padding-top: 1em;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      &__input {
        width: 80%;
        padding: .5rem 1rem;
        border-radius: var(--situm-radius);
        border: 0 none;
      }

      .search-pois__icon {
        cursor: pointer;
        padding: .2em;
      }
    }
  }

  &__content {
    margin: .5rem;
    padding-top: 1rem;
    padding-bottom: 1em;
    gap: 1em;
    max-height: 41vh;
    overflow-y: scroll;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  /*&__content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
  }*/

  &__poi {
    display:flex;
    gap: .5em;
    padding-left: .7em;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    :hover {
      color: var(--situm-text-color-select);
    }

    &__icon {
      width: 30px;
      height:30px;
      //background: rgb(var(--situm-accent-color));
      border-radius: var(--situm-radius);
    }
  }

  &__no-pois {
    text-align: center;
  }

}

.floor-selector {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width:50px;

  &__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    gap: 1rem;
    height: 90vh;
    padding-top: 1rem;
    padding-bottom: 1em;
  }

  &__floor {
    padding: .8rem .4rem;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-decoration: none;
    background:white;
    color: black;
    text-align:center;
    cursor: pointer;

    &:hover {
      border-color: rgba(var(--situm-accent-color), 1);
      background: rgba(var(--situm-accent-color), 0.8);
    }
  }

  .active {
    background: rgba(var(--situm-accent-color), 0.8);//var(--situm-text-color-select);
  }
}

.MuiAutocomplete-popper {
  display:block;
}

.map-toolbar {
  position: absolute;
  bottom:2rem;
  right:1rem;
  display: flex;
  flex-direction: column;
  gap:1rem;

  &__button {
    background: rgb(var(--situm-accent-color));
    padding: 5px 10px;
    border-radius: 3px;
    color: var(--situm-accent-background);
    cursor: pointer;
  }
}

.loading {
  background: rgba(var(--situm-accent-color), 0.9);
  color: White;
  padding: .5rem 1rem;
  font-size: .95rem;
  position: absolute;
  bottom: 1rem;
  right: 50%;
  transform: translate(50%, 0);
  border-radius: 1rem;
}
